/* =============
    Logo
============= */

#logo{

    >div{
        position: relative;

        svg{
            position: absolute;
            // visibility: hidden;
            
            #volkswagenLogo{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #topV{
                visibility: hidden;
            }

            #bottomW{
                visibility: hidden;
            }
        }
    }
}