/* =============
    Logo
============= */

#logo{

    >div{
        position: relative;

        svg{
            position: absolute;
            
            #volkswagenLogo{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}