#musicInnerRing1-large, #musicInnerRing2-large, #musicRing2-long, #musicRing2-short, #musicRing3-long, #musicRing3-short, #musicRing4, #musicRing5{
    visibility: hidden;
}

#cool-girl, #dodie-music, #ready-now, #monster, #guiltless, #boys-like-you, #human, #burned-out, #arms-unfolding{
    visibility: hidden;
}

#music-background{
    visibility: hidden;
}